<!DOCTYPE html>
<html>
<head>
    <style>
        #div1 {
            color: blue;
        }

        #Div1 {
            color: yellow;
        }
    </style>
</head>
<body>
    <div id="div1">This text is blue.</div>
    <div id="Div1">This text is yellow.</div>
</body>
</html>